<h2>Blacklist calls</h2>
<ul>
    <li>
        <a class="link" href="getall">GET api/getall</a>
    </li>
    <li>
        <a class="link" href="getactive">GET api/getactive</a>
    </li>
    <li>
        <a class="link" href="getinactive">GET api/getinactive</a>
    </li>
    <li>
        <a class="link" href="insert">POST api/insert</a>
        <p class="description">Post fields:<br>email, active (1 or 0)</p>
				
				<!--<button (click)="insert()"></button>-->
    </li>
    <li>
        <a class="link" href="edit">POST api/edit</a>
        <p class="description">Post fields:<br>email, active (1 or 0), id</p>
				
				<!--<button (click)="edit()"></button>-->
    </li>
    <li>
        <a class="link" href="delete">POST api/delete</a>
        <p class="description">Post fields:<br>id</p>
    </li>
</ul>