<p>This is the main API page. Please use one of the following URLs to access all information:</p>
<h1>User management</h1>
<ul>

	<li>
		<a class="link" href="login">POST api/login</a>
		<p class="description">Post fields:<br>email, password</p>
		
		<form>
			<input name="email" type="text" [(ngModel)]="loginData.email" />
			<input name="password" type="password" [(ngModel)]="loginData.password" />	
			<button (click)="login()">LOGIN</button>
		</form>
	</li>
	
	/*<li>
		<a class="link" href="logout">POST api/logout</a>
		<p class="description">Post fields:<br>id</p>
		
		<button (click)="logut()"></button>
	</li>*/
	
	<li>
		<a class="link" href="register">POST api/register</a>
		<p class="description">Post fields:<br>name, lastname, email, password</p>
		
		<form method="post" action="register">
			<input name="name" type="text" [(ngModel)]="registerData.name" />
			<input name="lastname" type="text" [(ngModel)]="registerData.lastname" />
			<input name="email" type="text" [(ngModel)]="registerData.email" />
			<input name="password" type="password" [(ngModel)]="registerData.password" />
			<button type="submit" (click)="register()">REGISTER</button>
		</form>
	</li>
</ul>