h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

table {display:table;border-collapse:collapse;}

tr {display:table-row;}

td {display:table-cell;text-overflow:ellipsis;cursor:default;}

.border-1 {border:1px solid #dde;}

input:focus {
	background-color:yellow;
}